.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: lightskyblue;
    color: white;
    
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    gap: 20px;
    margin: 40px;
    
}