@import "../variables.scss";

h2 {
    text-align: center;
    font-weight: normal;
}

input, label {
    display: block
}

input {
    width: 95%;
    padding: 4px 15px;
    margin: 8px 0;
    margin-left: 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 0.5px gray;
}

button {
    float: right;
    width: 150px;
}

.login-main-container {
    width: 50%;
    margin: 15% auto;
    border: 1px solid $black;
    padding: $medium-padding;
    border: 1px solid $black;
}



