h2 {
    text-align: center;
    font-weight: normal;
}

input, label {
    display: block
}

input {
    width: 95%;
    padding: 4px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    position: relative;
    left: 780px;
}