<ng-container>
  <mat-stepper [linear]="true">
    <mat-step label="{{'user' | transloco}}" completed="true">
      <form [formGroup]="userInfoGroup">
        <mat-form-field>
            <input matInput formControlName="nameCtrl" 
                    required placeholder="{{'name' | transloco}}" />
            <div class="alert alert-danger"
                *ngIf="userInfoGroup.controls['nameCtrl'].invalid 
                && userInfoGroup.controls['nameCtrl'].touched">
                Wrong formatting
            </div>
        </mat-form-field><br/>
        <mat-form-field>
            <input matInput formControlName="surnameCtrl" 
                    required placeholder="{{'surname' | transloco}}" />
            <div class="alert alert-danger"
                *ngIf="userInfoGroup.controls['surnameCtrl'].invalid
                && userInfoGroup.controls['surnameCtrl'].touched">
                Wrong formatting
            </div>
        </mat-form-field><br/>
        <mat-form-field>
            <input matInput formControlName="countryCtrl" 
                    required placeholder="{{'country' | transloco}}" />
            <div class="alert alert-danger"
                *ngIf="userInfoGroup.controls['countryCtrl'].invalid
                && userInfoGroup.controls['countryCtrl'].touched">
                Wrong formatting
            </div>
        </mat-form-field><br/>
        <mat-form-field>
            <input matInput formControlName="cityCtrl" 
                    required placeholder="{{'city' | transloco}}" />
            <div class="alert alert-danger"
                *ngIf="userInfoGroup.controls['cityCtrl'].invalid
                && userInfoGroup.controls['cityCtrl'].touched">
                Wrong formatting
            </div>
        </mat-form-field><br/>
        <button mat-raised-button 
                color="primary" 
                matStepperNext
                [disabled]="userInfoGroup.invalid" 
                >{{'next' | transloco}}</button>
      </form>
    </mat-step>
    <mat-step label="{{'step2' | transloco}}" completed="false">
      <div>
          <p>Name: {{this.userInfoGroup.controls['nameCtrl'].value}}</p>
          <p>Surname: {{this.userInfoGroup.controls['surnameCtrl'].value}}</p>
          <p>Country: {{this.userInfoGroup.controls['countryCtrl'].value}}</p>
          <p>City: {{this.userInfoGroup.controls['cityCtrl'].value}}</p>
          <button mat-raised-button 
                  color="primary"
                  (click)="onSubmit()"
                  >{{'submit' | transloco}}</button>
      </div>
    </mat-step>
  </mat-stepper>
</ng-container>
